.feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    &__icon {
        font-size: 6rem;
        font-weight: 500;
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
        background-repeat: no-repeat;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }

    &:hover {
        -webkit-transform: translateY(-1.5rem) scale(1.03);
        transform: translateY(-1.5rem) scale(1.03);
    }
}
